<section class="about-me px-4 max-w-6xl mx-auto mt-36 mb-20 px-20">
    <div class="flex flex-wrap-reverse justify-center md:grid grid-cols-2 gap-8">
      <div class="about-left text-center md:text-left">
        <h1 class="font-bold text-4xl leading-tight">
          Hi, I am <span class="hover:text-red-500">Van</span>,
          <p>Website Developer</p>
        </h1>
        <p class="my-10">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
          exercitationem voluptates aut modi natus necessitatibus veniam
          provident similique facere unde at, ratione in optio, enim obcaecati
          quam eius, consequatur quasi!
        </p>
        <a href="" class="bg-red-500 p-3 rounded text-white hover:opacity-80">
          About Me
        </a>
      </div>
      <div class="about-img flex justify-center md:justify-end items-center">
        <img src="https://tse1.mm.bing.net/th?id=OIP.gUPBca92jlZ88Q1b7Ce43gHaHa&pid=Api&P=0&w=165&h=165" alt="" class="rounded-full max-h-60 md:max-h-80 my-8 md:m-0" />
      </div>
    </div>
  </section>