<section class="max-w-[1152px] mx-auto px-4">
    <div class="max-w-[681px] mx-auto">
      <h1
        class="max-w-[506px] mt-[78px] mb-[30px] font-bold text-3xl md:text-4xl">
       {{post.name}}
      </h1>
      <div class="mt-[30px] mb-6">
        <span class="bg-[#FF7C7C] font-black text-white px-2 rounded-xl mr-4"
          >2020</span>
        <span class="text-lg md:text-xl">Dashboard, User Experience Design</span>
      </div>
      <p class="mt-6 mb-12 text-base">
        {{post.title}}
      </p>
      <img src="{{post.image}}" width="100%" alt="" class="mb-14" />
      
      <p class="my-7 text-base	">
       {{post.title}}
      </p>
    </div>
  </section>

